<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>

    <div id="visor"></div>

    <div>
        <button onclick="escreverNum('1')">1</button>
        <button onclick="escreverNum('2')">2</button>
        <button onclick="escreverNum('3')">3</button>
        <button onclick="escreverOperacao('SUM')">+</button>
    </div>
    <div>
        <button onclick="escreverNum('4')">4</button>
        <button onclick="escreverNum('5')">5</button>
        <button onclick="escreverNum('6')">6</button>
        <button onclick="escreverOperacao('SUB')">-</button>                   
    </div>
    <div>
        <button onclick="escreverNum('7')">7</button>
        <button onclick="escreverNum('8')">8</button>
        <button onclick="escreverNum('9')">9</button>
        <button onclick="escreverOperacao('DIV')">/</button>
    </div>

        <button onclick="limparVisor()">C</button>
        <button onclick="escreverNum('0')">0</button>
        <button onclick="executar()">=</button>

    
    <button onclick="escreverOperacao('MUL')">X</button>
    
    <script src="rendererCalculadora.js"></script>
</body>
</html>