<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello electron</title>
</head>
<body>
    <main>
        <h1>Hello World Electron!</h1>
        <p>Criando APPs desktop com JS.</p>
        <p>
            Clique aqui para acessar as 
            <a href="versoes.html">versões</a>
            utilizadas.
        </p>
        <p>
            Clique aqui para acessar o 
            <a href="contador.html">contador</a>.
        </p>
        <p>
            Clique aqui para acessar a 
            <a href="Calculadora/">calculadora</a>.
        </p>
        <p>
            Clique aqui para acessar a
            <a href="./lojaMusica/index.html">Loja de Musica</a>.
        </p>
    </main>
</body>
</html>