<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos Musicais</title>
</head>
<body>
    <script src="../bootstrap-base.js"></script>
    <div id="display">

        <h1>Estilos musicais</h1>

        <h1><a href="index.html">Loja de música</a></h1>

        <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalEstilo">
            + Novo Estilo
        </button>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody id="tabela-estilos-body">

            </tbody>
        </table>
    <script src="rendererEstilos.js"></script>
</body>
</html>