<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="display">

        <a href="./index.html">Home</a>
        <h1><a href="index.html">Loja de música</a></h1>
        <a href="estilos.html">Estilos</a>
        
        <form action="">
            <input type="text" name="estilo" id="estilo">
            <button type="submit">Enviar</button>
        </form>

    </div>
    <script src="rendererEstilos.js"></script>
</body>
</html>