<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Música</title>
</head>
<body>
    <div id="display">
        <a href="./index.html">Home</a>
        <h1>Loja de música</h1>
        <ul>
            <li><a href="estilos.html">Estilos musicais</a></li>
            <li><a href="gravadora.html">Gravadoras</a></li>
            <li><a href="artista.html">Artistas</a></li>
            <li><a href="musica.html">Musicas</a></li>
        </ul>


    </div>
   
    <script src="renderer.js"></script>
</body>
</html>