<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos Musicais</title>
</head>
<body>
    <script src="../bootstrap-base.js"></script>
    <div id="display">

        <h1>Músicas</h1>

        <h1><a href="index.html">Loja de música</a></h1>

        <button type="button" id="novo_input" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modal_adicionar">
            + Nova música
        </button>


        <div class="modal fade center" tabindex="-1" id="modal_adicionar" aria-labelledby="modalAdicionar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar música</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                 
                    <form action="" class="mb-3">
                        <div class="mb-3">
                            <label for="musica_nome_add">Digite o nome da música</label>
                            <input type="text" id="nome_musica_add">
                        </div>
                        <div class="mb-3">
                            <label for="musica_duracao_add">Duração</label>
                            <input type="text" name="duracao" id="musica_duracao_add">
                        </div>
                        <div class="mb-3">
                            <label for="musica_dataLanc_add">Data de lançamento</label>
                            <input type="date" name="dataLancamento" id="musica_dataLanc_add">
                        </div>
                        <div class="mb-3">
                            <label for="musica_estilo_add">Estilo musical</label>
                            <select name="musica_estilo_add" id="musica_estilo_add">]

                                <option value="" selected disabled>Selecione um Estilo.</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" id="btnSalvar" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade center" tabindex="-1" id="modal_editar" aria-labelledby="modalEditar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                 
                    <form action="" class="display">

                        <input type="hidden" id="id_musica_edit">

                        <label for="musica_nome_edit">Nome</label>
                        <input type="text" name="nome_edit" id="musica_nome_edit">

                        <label for="musica_duracao_edit">Duração</label>
                        <input type="text" name="duracao_edit" id="musica_duracao_edit">

                        <label for="musica_dataLanc_edit">Data de lançamento</label>
                        <input type="date" name="dataLancamento_edit" id="musica_dataLanc_edit">

                        <label for="musica_estilo_edit">Estilo musical</label>
                        <select name="musica_estilo_edit" id="musica_estilo_edit">
                            <option value="" selected disabled>Selecione um Estilo.</option>
                        </select>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" id="btnSalvarEdit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
                </div>
            </div>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Duração</th>
                    <th scope="col">Data de lançamento</th>
                </tr>
            </thead>
            <tbody id="tabela-musica-body">

            </tbody>
        </table>
    <script src="rendererMusica.js"></script>
</body>
</html>